footer .copyright {
  font-size: 14px;
  margin-bottom: 30px;
  text-align: center;
}

.text-muted.copyright {
}

.text-muted.copyright {
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: 0;
  margin-left: 0;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #ffffff;
  background-color: #5e6873;
  border-color: #005cbf;
}

label {
  font-size: 15px;
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: bold;
}

#padding .container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.mb-5, .my-5 {
  margin-bottom: 40px;
  margin-top: 40px;
  color: black;
  font-size: 20px;
  font-family: Open Sans, Helvetica, Neue, Arial, sans-serif;
  font-weight: bold;
}

#mainNav {
  position: absolute;
  border-bottom: 1px solid #e9ecef;
  background-color: #fff;
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
}

footer {
  padding: 50px 0 65px;
}

